# Configration file of Quincke rollers suspension simulation
# unit system: length - micrometer | mass - milligram | time - second
#
[Simulation Parameters]
# dimension
dim = 3
# number of particles
N = 2
# simulation time steps
steps = 10000
# simulation box
Lx = 1000
Ly = 1000
Lz = 1000
# number of wall particles
N_wall = 0

# constrained to 2D?
enforce2D = True
# gap distance from bottom electrode
gap = 0.025

[Integrator Settings]
# integrator type: Euler or AB
integrator = AB
# time interval
deltaT = 0.00005
# whether limit max displacement
disp_limit_on = True
# max displacement
disp_limit = 0.25

# dipole integrator type: RK2
integrator_dipole = RK2
# steps of dipole integration per SD step
periods_dipole = 10

[Material Properties]
# thermal energy
kT = 0.004141947
# particle radius
radius = 2.5
# fluid dynamic viscosity
viscosity = 0.003
# particle relative permittivity
#epsilon_p = 3.0
# fluid relative permittivity
#epsilon_l = 2.0
# particle conductivity (SI)
#sigma_p = 0
# fluid conductivity (SI)
#sigma_l = 2e-8

[External Fields]
# external fields type: constant or pulse
efield_type = constant
# external field strength
Ex = 0.0
Ey = 0.0
Ez = 21.09644572384524
# external field periods
efield_T1 = 100000
efield_T2 = 5000

[Interaction Settings]
# const forces
onebody_Fconst_on = False
Fx = 0.0
Fy = 0.0
Fz = 0.0

# const torques
onebody_Tconst_on = False
Tx = 0.0
Ty = 0.0
Tz = 0.0

# external electric torques
onebody_Eext_on = True

# dipole-dipole interaction
pair_dipole_on = True
# cutoff range
dipole_cutoff = 12.5
# interaction strength
dipole_A = 1.0
# inverse screening length
dipole_kappa = 0.0

# include image dipoles
image_dipole_on = True
image_dipole_A = 1.0
image_dipole_kappa = 0.0

# yukawa-type interaction
pair_yukawa_on = True
# cutoff range
yukawa_cutoff = 12.5
# interaction strength
yukawa_A = 1000.0
# inverse screening length
yukawa_kappa = 2.0

[Hydrodynamics Settings]
# include near-field lubrication corrections
lubrications_on = False
# cutoff for lubrication interactions
lub_cutoff = 10.0
# using uncorrelated hydrodynamic interactions
hydro_uncorrelated = False
# include far-field single-wall corrections
RPY_wall_correction_on = True
# include near-field single-wall corrections
lub_wall_correction_on = False
# include thermal fluctuations
fluctuations_on = True
# thermal noise type
thermal_noise_type = uncorrelated
# thermal noise level
thermal_noise_level = 0.1

[GMRES Settings]
# solver error tolerance
gmres_tol = 1e-3
# max iteration numbers
gmres_maxiter = 31
# show residual
gmres_residual_on = False
# using preconditioner
gmres_pc_on = True
# left or right preconditioner
gmres_pc_side = right

[Boundary Settings]
# circular confinement
boundary_circle_on = False
boundary_rectangle_on=True

[Input Settings]
# input folder
input_dir = ./data/
# input filename
input_filename = positions-stopped-4096-10-no-dipoles-ref.npy
input_label = 2

[Output Settings]
# output frequency
output_freq = 20
# output folder
output_dir = ./data/
# output filename
output_filename = rollers
# save trajectory
output_trajectory_on = True
# save mechanics
output_mechanics_on = True
# save kinetics
output_kinetics_on = True
# save logs
output_log_on = True

[GUI Settings]
# whether show GUI
show_gui = True
# disable GUI window
gui_window_on = True
# whether save video
record_video = True
# GUI scale factor
show_scale = 1.0
